<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arte & Vida:App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")

    @*<script src="~/Scripts/VegaSoft/Gestorweb.js"></script>*@



    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.pt-BR.min.js")"></script>
    <script>
        kendo.culture("pt-BR"); // Alterar Cultura para Português do Brasil
    </script>


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <script src="~/ReportViewer/js/ReportViewer-8.0.14.225.js"></script>
    <link href="~/ReportViewer/styles/ReportViewer-8.0.14.225.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="navbar  navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">

                <img src="~/Images/ArteVida_peq.png" />
            </div>

            @Html.Partial("_LoginPartial")
            <div class="nav navbar-nav navbar-right">
                <nav>
                    @Html.Partial("_MenuPrincipal")
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content jumbotron">
        @RenderBody()
    </div>
    <div class="container footer-content">

        <footer>

            <div>
                <p class="float-right"> @ViewBag.Versao </p>
            </div>
            <div>
                <p>
                    &copy; @DateTime.Now.Year - Todos os direitos Reservados - VASIS Sistemas (44) 9989-1500
                </p>
            </div>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/kendo")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)

</body>
</html>



<style scoped>
    .divComportamento {
        width: 980px;
        height: 550px;
        position: relative;
        display: block;
        /*top: 50%;
        left: 50%;*/
        margin-top: 0;
        margin-left: 5px;
    }

    .consultabase {
        width: 980px;
    }

    .k-edit-form {
        width: 980px;
    }

    .k-edit-form-container {
        width: 980px;
        /*height: 300px;*/
    }

    div.row {
        margin-top: 5px;
    }

    .label {
        margin-left: 1px;
        margin-right: 1px;
    }

    .single-line {
        max-width: none;
        width: 100%;
    }

    .k-input {
        max-width: none;
        width: 100%;
    }

    .k-textbox {
        max-width: none;
        width: 100%;
    }

    .k-combobox {
        max-width: none;
        width: 100%;
    }

    .k-dropdown {
        max-width: none;
        width: 100%;
    }


    .k-editor-textarea {
        max-width: none;
        width: 100%;
    }

    .k-button-icontext {
        display: inline-block;
        margin: 1px 2px 1px 2px;
        padding: 1px 1px 1px 3px;
        font-family: inherit;
        line-height: 0.4em;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
    }

    .k-toolbar {
        position: relative;
        display: block;
        vertical-align: middle;
        /*line-height: 0.5em;*/
    }



    #reportViewer1 {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        overflow: hidden;
        font-family: 'segoe ui', 'ms sans serif';
        overflow: hidden;
    }


        #reportViewer1 .k-menu .k-item {
            min-width: 60px;
        }
</style>
