@model ArteVida.GestorWeb.ViewModels.PessoaViewModel

@Html.HiddenFor(model => model.PessoaId)

<div id="campos" style="width:550px;height:250px;padding:2px; ">

    <div class="row">

        <div class="col-sm-1">
            @Html.LabelFor(model => model.Nome)
        </div>

        <div class="col-sm-7">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)

        </div>

        <div class="col-sm-1">
            @Html.LabelFor(model => model.NumeroFicha)
        </div>

        <div class="col-sm-1">
            @Html.EditorFor(model => model.NumeroFicha)
            @Html.ValidationMessageFor(model => model.NumeroFicha)

        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(model => model.Endereco)
        </div>

        <div class="col-sm-6">
            @Html.EditorFor(model => model.Endereco)
            @Html.ValidationMessageFor(model => model.Endereco)

        </div>

        <div class="col-sm-1">
            @Html.LabelFor(model => model.Telefone)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)

        </div>

    </div>

    <div class="row">



        <div class="col-sm-1">
            @Html.LabelFor(model => model.Bairro)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)

        </div>

        <div class="col-sm-1">
            @Html.LabelFor(model => model.Cidade)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Cidade)
            @Html.ValidationMessageFor(model => model.Cidade)

        </div>

        <div class="col-sm-1">
            @Html.LabelFor(model => model.Estado)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Estado)
            @Html.ValidationMessageFor(model => model.Estado)

        </div>
    </div>




    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(model => model.Rg)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Rg)
            @Html.ValidationMessageFor(model => model.Rg)

        </div>

        <div class="col-sm-1">
            @Html.LabelFor(model => model.Cpf)

        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Cpf)
            @Html.ValidationMessageFor(model => model.Cpf)

        </div>

        <div class="col-sm-1">
            @Html.LabelFor(model => model.Sexo)

        </div>



        <div class="col-sm-2">
            @(Html.Kendo().ComboBox()
                .Name("Sexo")
                .Placeholder("Sexo...")
                .BindTo(new List<string>() {
                    "Masculino",
                    "Feminino"
                })
                .SelectedIndex(1)
                .Suggest(true)
                .HtmlAttributes(new { style = "width:150px" }))
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

    </div>

    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(model => model.Escola)
        </div>

        <div class="col-sm-5">
            @Html.EditorFor(model => model.Escola)
            @Html.ValidationMessageFor(model => model.Escola)

        </div>

        <div class="col-sm-2">
            @Html.LabelFor(model => model.Serie)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.Serie)
            @Html.ValidationMessageFor(model => model.Serie)

        </div>


    </div>

    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(model => model.Pai)
        </div>

        <div class="col-sm-5">
            @Html.EditorFor(model => model.Pai)
            @Html.ValidationMessageFor(model => model.Pai)

        </div>

        <div class="col-sm-2">
            @Html.LabelFor(model => model.TelefonePai)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.TelefonePai)
            @Html.ValidationMessageFor(model => model.TelefonePai)

        </div>


    </div>

    <div class="row">
        <div class="col-sm-1">
            @Html.LabelFor(model => model.Mae)
        </div>

        <div class="col-sm-5">
            @Html.EditorFor(model => model.Mae)
            @Html.ValidationMessageFor(model => model.Mae)

        </div>

        <div class="col-sm-2">
            @Html.LabelFor(model => model.TelefoneMae)
        </div>

        <div class="col-sm-2">
            @Html.EditorFor(model => model.TelefoneMae)
            @Html.ValidationMessageFor(model => model.TelefoneMae)

        </div>


    </div>


</div>



<style scoped>
    .k-edit-form {
        width: 850px;
    }

    .k-edit-form-container {
        width: 850px;
        /*height: 300px;*/
    }

    div.row {
        width: 800px;
        margin-top: 5px;
    }

    .label {
        margin-left: 1px;
        margin-right: 1px;
    }

    .single-line {
        max-width: none;
        width: 100%;
    }

    .k-combobox {
        max-width: none;
        width: 100%;
    }


    .k-editor-textarea {
        max-width: none;
        width: 100%;
    }
</style>
